html, body {
    height: 100%;
    margin: 0
}
#editorForm {
    display: flex;
    flex-flow: column;
    height: 100%
}
#titleBar, #statusBar {
    flex: 0 1 auto
}
#editor {
    resize: none;
    flex: 1 1 auto
}

body{
    font:1.2em/1.62 sans-serif
}

h1,h2,h3 {
    line-height:1.2
}
