<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="data:impage/png;base64,">
        <link rel="stylesheet" href="/css/rvid.css" type="text/css"> 
        <title>{{.Filename}}</title>
    </head>
    <body>
        <form id="editorForm" method="POST" action="/save/{{.Filename}}">
            <label id="titleBar" for="content"><h3>Editing <em>{{.Filename}}</em></h3></label>
            <br><textarea id="editor" name="content" autofocus>{{.Content}}</textarea>
            <div id="statusBar"><input id="saveBtn" value="Save" type="submit" disabled>&emsp;<label id="statusMsg"></label></div>
        </form>
    </body>

    <script src="/js/jsvim.js"></script>
    <script src="/js/rvid.js"></script>
</html>
