html, body {
    height: 100%;
    margin: 0
}

form {
    font: 1.2em/1.62 monospace;
    height: 100%;
    display: flex;
    flex-flow: column
}

form > textarea {
    font: inherit;
    flex: 1 1 auto;
    resize: none
}

#status {
    width: 95%;
}
