<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="data:impage/png;base64,">
        <link rel="stylesheet" href="/static/css/govid.css" type="text/css"> 
        <title>{{.Filename}}</title>
    </head>
    <body>
        <form id="editorForm" method="POST" action="/{{.Filename}}">
            <textarea id="editor" name="content" autofocus>{{.Text}}</textarea>
            <div><input id="saveBtn" value="Save" type="submit">&emsp;<label id="statusMsg"></label></div>
        </form>
    </body>

    <script src="/static/js/jsvim.js"></script>
    <script src="/static/js/govid.js"></script>
</html>
